<h1>Web Scrapper</h1>
<p>Web scraping refers to the process of gathering information from a website through automated scripts. This eases the process of gathering large amounts of data from websites where no official API has been defined.</p>
